<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>        
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>
<!--
<div class="footer">
  <ul>
    <li><%= link_to "New Game", newgame_path %></li>
    <li><%= link_to "Leaderboard", ladder_path %></li>
    <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
  </ul>
</div>
-->